body {
    background-color: lavenderblush; /* Color de fondo para el cuerpo del sitio */
    font-family: "Comic Relief", system-ui; /* Tipografía principal del sitio */
    box-sizing: border-box; /* Asegura que el padding y borde se incluyan dentro del tamaño total de los elementos */
}

.logo img {
    width: 20%; /* La imagen del logo ocupa el 20% del ancho del contenedor */
}

.logo h1 {
    font-size: 3rem; /* Tamaño de fuente grande para el título */
    margin-top: 4%; /* Margen superior para separar del borde */
}

.logo {
    display: flex; /* Contenedor en formato flexible */
    gap: 1.5rem; /* Espacio entre elementos internos */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.tabs {
    margin: 10%; /* Margen alrededor del contenedor */
    border: 6px solid black; /* Borde grueso y negro */
    display: flex; /* Contenedor flexible */
    flex-direction: column; /* Elementos hijos se apilan en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    border-radius: 30px; /* Bordes redondeados */
    background-color: #fafafa10; /* Fondo semitransparente */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.568); /* Sombra alrededor del contenedor */
}

.tabs img {
    width: 200px; /* Ancho fijo para la imagen */
    padding-top: 2rem; /* Espacio superior interno */
    border-radius: 100px; /* Borde redondeado para forma circular */
}

p {
    padding: 1rem; /* Espacio interno para los párrafos */
}

ul li {
    padding: 1rem; /* Espacio interno para cada ítem de la lista */
}

.social img {
    width: 40px; /* Tamaño fijo para los íconos sociales */
}

body {
    background: url(imagenes/hRs.gif); /* Imagen animada como fondo de pantalla */
}

footer img {
    width: 400px; /* Ancho fijo de la imagen en el pie de página */
    animation: deslizar 5s infinite; /* Aplica animación infinita de 5 segundos */
}

@keyframes deslizar {
    from {
        transform: translateX(80vw); /* Comienza fuera de la pantalla hacia la derecha */
    }
    to {
        transform: translateX(0); /* Termina en su posición original */
    }
}

.tabs img:hover {
    transform: scale(1.5); /* Al pasar el cursor, la imagen se agranda 1.5 veces */
}
